html,body,div,span,iframe,h1,h2,h3,h4,p,pre,del,em,img,b,i,dl,dt,dd,ol,ul,li,form,table,tbody,tr,th,td,article,aside,footer,header,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box}
article,aside,footer,header,nav,section{display:block}
body{line-height:1;overflow-wrap:break-word;word-wrap:break-word}
input,textarea,select{font-family:inherit;font-size:inherit;color:inherit;vertical-align:middle;box-sizing:border-box}
a{margin:0;padding:0;text-decoration:none;outline:none;font-size:100%;vertical-align:baseline;background:transparent}
a img{border-style:none}
.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}

/* ===================================
èƒŒæ™¯,æ–‡å­—,ãƒªãƒ³ã‚¯è¨­å®š
=================================== */

html{
font-size:62.5%
}
body{
background:#000;/* èƒŒæ™¯è‰² */
color:#c9c6c6;/* æ–‡å­—è‰² */
font-size:1.3em;/* æ–‡å­—ã®å¤§ãã• */
font-family: 'Lexend', sans-serif;
letter-spacing:.1em;
line-height:1.5;
padding:20px;
text-align:center
}

li{
list-style-type: '▸';
  padding-inline-start: 1ch;
  list-style-position: inside;}

/*  Googleãƒ•ã‚©ãƒ³ãƒˆã‚’ä½¿ç”¨ã—ãªã„å ´åˆã¯ä¸è¦
------------------------------ */
h1,h2,nav span,#fl{
font-family: 'Nanum Gothic Coding', monospace;
font-weight:900
}
/*  ãƒªãƒ³ã‚¯
------------------------------ */
a{
color:rgb(170, 239, 96);
}
#contents a{
color:rgb(170, 239, 96);
text-decoration:underline;
transition:.6s
}
#contents a:not(.bg-none):hover{
color:#c30808;
text-decoration:none
}
header a,footer a{
color:#c9c6c6
}

/* ===================================
åŸºæœ¬
=================================== */

#wrapper{
margin:10px auto;
position:relative;
text-align:left;
max-width:725px; /* å…¨ä½“ã®å¹…ãƒ»å¤§ãã•ã¯ã“ã“ã§å¤‰æ›´ */
}
header{
background:url(/decorations/yugioh\ vhs.gif) no-repeat 100% 0;
background-size: cover;
border:1px solid #fff;
border-radius:3px;
min-height:200px
}
#header-inner{
padding:10px 20px;
text-align:right
}
#rightcolumn-wrap{ 
float:right;
margin-left:-250px; /* (â€»1)ã¨åŒã˜ã ã‘ãƒžã‚¤ãƒŠã‚¹ */
width:100%
}  
#rightcolumn{
margin-left:250px; /* (â€»1)ã¨åŒã˜ */
padding:20px 0 20px 20px;
position:relative
}
#leftcolumn-wrap{
float:left;
width:250px; /* å·¦å´ã®å¹…(â€»1) */
}
#leftcolumn{
padding:20px 20px 20px 0;
text-align:center
}
#column{
padding:20px
}

/*  æ–‡å­—ã®ç¸å–ã‚Š
------------------------------ */
header,footer,nav span{
text-shadow:1px 0 0 #41341f, 1px 1px 0 #41341f, 0 1px 0 #41341f, -1px 1px 0 #41341f, -1px 0 0 #41341f, -1px -1px 0 #41341f, 0 -1px 0 #41341f, 1px -1px 0 #41341f
}

/* ===================================
index
=================================== */

#index #wrapper{
max-width:500px
}

/* ===================================
ãƒ¡ãƒ‹ãƒ¥ãƒ¼
=================================== */

#menu{
display:block;
margin:0 auto
}
nav span{
background-image:url(image/back02.png);
border:1px solid #fff;
border-radius:3px;
color:#fff;
display:block;
font-size:1.7rem;
font-weight:700;
line-height:2em
}
nav li{
display:block
}
nav li ul{
margin:10px 0 20px
}
nav li ul li{
border-bottom:1px dashed #41341f
}
#contents #menu a{
color:#fff;
display:block;
padding:5px;
position:relative;
text-decoration:none;
transition:.6s
}
#contents #menu a:hover{
background:rgba(197,143,146,.6);
letter-spacing:.3em
}
/*  ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã‚’é–‹ããƒœã‚¿ãƒ³ã€å‰ã«æˆ»ã‚‹ãƒœã‚¿ãƒ³éžè¡¨ç¤º
------------------------------ */
#open,#back{display:none}

/* ===================================
ãƒšãƒ¼ã‚¸ä¸Šéƒ¨ã¸ã®ãƒªãƒ³ã‚¯ã€è‘—ä½œæ¨©è¡¨ç¤º
=================================== */

#pagetop{
background:rgba(186,135,137,.7);/* èƒŒæ™¯ */
color:#fff;/* è‰² */
border-radius:10px;
box-sizing:border-box;
display:block;
padding:10px;
position:fixed;
text-align:center;
z-index:10
}
#pagetop:hover{
background:rgba(186,135,137,.9)
}

/* ===================================
è¦‹å‡ºã—ã€æž ã€ç·š
=================================== */

h1{
font-size:3rem;
color:rgb(170, 239, 96);
line-height:1;
margin:0 0 .5em;
text-shadow:
-1px -1px 0 #010101,
1px -1px 0 #000000,
-1px 1px 0 #000000,
1px 1px 0 #000000;
}

h2{
background:rgba(213, 234, 190, 0.23);
color:rgb(170, 239, 96);
border-radius:3px;
border: 1px solid rgb(189, 189, 189);
font-size:1.8rem;
padding:.2em;
margin:10px 0;
text-shadow:
-1px -1px 0 #010101,
1px -1px 0 #000000,
-1px 1px 0 #000000,
1px 1px 0 #000000;
}
h3{
    font-size:1.8rem;
    line-height:1;
    margin:0 0 .5em;
    text-shadow:
      -1px -1px 0 #010101,
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
      1px 1px 0 #000000;
      text-align: center;
}
dt{
clear:both;
color:#b9b988;
font-weight:700;
float:left;
margin:0 0 5px;
width:12em
}
dd{
border-bottom:dotted 1px;
margin:0 0 5px 12em
}
#leftcolumn dt{
border-top:double 3px #41341f;
border-bottom:double 3px #41341f;
float:none;
clear:none;
padding:.2em 0;
margin:10px 0;
width:auto
}
#leftcolumn dd{
border:0;
margin:0
}
em{
font-weight:700;
font-style:normal
}
input,textarea{
background:#eabac0;
border:1px solid;
color:#41341f;
margin:3px 0;
width:250px
}
textarea{
height:50px
}
#leftcolumn input,#leftcolumn textarea{
width:100%;
height:50px;
}
hr{
border:0;
border-top:1px solid #ccc;
display:block;
margin:1em 0;
padding:0;
height:1px
}
.marker{
background:#eacdc2;
background:-webkit-linear-gradient(rgba(234,205,194,0) 70%, #85918c 0%);
background:linear-gradient(rgba(234,205,194,0) 70%, #d38e87 0%)
}
.dcline{
border-left:8px solid #6e6e41;
margin:5px 0;
padding:3px
}
.textbox{
border:1px dotted;
border-radius:3px;
padding:1em 0;
text-align:center
}
.title{
color:#6e6e41;
font-size:2rem;
font-weight:700;
margin:2em 0;
text-align:right
}
.txt{
border-left:1px dotted;
color:#999;
margin:1em;
padding:0 0 0 1em
}
.frame{
background:#fff;
padding:6px;
border-radius:3px;
box-shadow:4px 4px 4px #ccc
}
.box1{
background:#6e6e41;
border-radius:10px;
margin:1em 0;
padding:10px
}
.box2{
background:#ba8789;
border-radius:10px;
margin:1em 0;
padding:10px
}
.box1 a,.box2 a{
background:#fff
}
/*  æ–‡å­—ã®ä¸‹ã®ç·š
------------------------------ */
/* bodyã®font-sizeã‚’å¤‰æ›´ã—ãŸã‚‰æ•°å€¤ã‚’å¤‰æ›´ */
/* 2.6 = font-size:1.3 x line-height:2 */
#contents p{
padding-bottom:0.1em;
background-color:#000;
background-image:-webkit-linear-gradient(left, #000 1.1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(top, #666 1.1px, rgba(102,102,102,0) 1px);
background-image:linear-gradient(to right, #000 1.1px, rgba(0,0,0,0) 1px), linear-gradient(to bottom, #666 1.1px, rgba(102,102,102,0) 1px);
background-size:2px 2.6rem;
line-height:2
}
/* ===================================
æ¨ªå¹…840pxã§åˆ‡ã‚Šæ›¿ãˆ
=================================== */
@media screen and (max-width: 800px){
body{
padding:10px 20px 50px
}
header{
background-size:cover;
min-height:100px
}
dt{
float:none;
clear:none
}
dd{
margin-left:20px
}
/*  ç”»åƒã®ç¸®å°è¡¨ç¤º
------------------------------ */
img{
height:auto;
max-width:100%
}
}
/* ===================================
ã‚¹ãƒžãƒ›ã€ã‚¿ãƒ–ãƒ¬ãƒƒãƒˆç”¨
æ¨ªå¹…600pxã§åˆ‡ã‚Šæ›¿ãˆ
=================================== */

@media screen and (max-width: 600px){
body{
font-size:1.5em;
height:auto
}
#wrapper{
width:auto
}
#header-inner{
text-align:left
}
h1:not(.index){
font-size:1.8rem;
padding-right:100px; /* ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã‚’é–‹ããƒœã‚¿ãƒ³åˆ† */
min-height:40px;
margin:0 0 .2em
}
#rightcolumn-wrap{
float:none;
margin:0
}
#rightcolumn{
margin:0;
padding:10px 0;
position:static
}
#column{
padding:10px 0
}
#leftcolumn-wrap{
float:none;
width:100%
}
#leftcolumn{
padding:0 10px
}
/*  æ–‡å­—ã®ä¸‹ã®ç·š
------------------------------ */
/* bodyã®font-sizeã‚’å¤‰æ›´ã—ãŸã‚‰æ•°å€¤ã‚’å¤‰æ›´ */
/* 2.8 = font-size:1.5 x line-height:2 */
#contents p{
background-size:2px 3rem;
line-height:2
}

/* ===================================
ã‚¹ãƒžãƒ›ã€ã‚¿ãƒ–ãƒ¬ãƒƒãƒˆç”¨ãƒ¡ãƒ‹ãƒ¥ãƒ¼
=================================== */

/*  ã‚¹ãƒ©ã‚¤ãƒ‰
------------------------------ */
#leftcolumn-wrap{
background:#322612;
padding:70px 10px 20px; /* ãƒ¡ãƒ‹ãƒ¥ãƒ¼ãƒœã‚¿ãƒ³åˆ†ç©ºã‘ã‚‹ */
line-height:2;
margin:0;
position:fixed;
height:100%;width:300px; /* (*1)åŒã˜ã«ã™ã‚‹ */
top:0;right:0;
-ms-transform:translate(300px); /* (*1)åŒã˜ã«ã™ã‚‹ */
-webkit-transform:translate(300px); /* (*1)åŒã˜ã«ã™ã‚‹ */
transform:translate(300px); /* (*1)åŒã˜ã«ã™ã‚‹ */
transition:all .3s;
z-index:1000
}
#side-bg{
background:rgba(51,51,51,.5)/* å‘¨ã‚Šã®èƒŒæ™¯è‰² */
}
/*  ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã‚’é–‹ããƒœã‚¿ãƒ³/å‰ã«æˆ»ã‚‹ãƒœã‚¿ãƒ³
------------------------------ */
#open,#back{
background:#41341f;
border:1px solid;
border-radius:5px;
color:#fff; /* æ–‡å­—è‰² */
display:inline-block;
position:absolute;
text-align:center;
height:40px;width:40px; /* å¤§ãã• */
top:10px;right:15px; /* ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã‚’é–‹ããƒœã‚¿ãƒ³ã®ä½ç½® */
z-index:1001
}
#open-icon,#open-icon:before,#open-icon:after{
background:#fff/* ç·šã®è‰² */
}
/*  å‰ã«æˆ»ã‚‹ãƒœã‚¿ãƒ³
------------------------------ */
#back{
right:60px; /* ä½ç½® */
z-index:auto
}
#back a{
color:#fff;
display:block;
height:100%
}
#back a:before{
content:'\21E6';
display:block;
font-size:17px;
line-height:17px;
position:relative;
top:5px;width:100%
}
#leftcolumn{height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
#leftcolumn-wrap.open{-ms-transform:translate(0);-webkit-transform:translate(0);transform:translate(0)}
#side-bg{display:none;position:fixed;height:100%;width:100%;top:0;left:0;z-index:999;cursor:pointer}
.open-text,.back-text{font-size:10px;letter-spacing:0;position:absolute;bottom:0;left:0;width:100%}/* ãƒœã‚¿ãƒ³æ–‡å­—ã‚µã‚¤ã‚º */
#open.buttonclose{position:fixed;right:35px}
#open-icon{display:block;margin:-1px 0 0 -9px;position:absolute;top:14px;left:50%;height:2px;width:18px}
#open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:18px;transition:.3s}
#open-icon:before{margin-top:-7px}
#open-icon:after{margin-top:5px}
#open .close{background:transparent}
#open .close:before,#open .close:after{margin-top:0}
#open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
#open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}

}

#enter{
    padding: 1px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    text-align: center;
    background-color: rgba(213, 234, 190, 0.23);
    padding:10px 10px;
  }
